* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/* khôi phục cỡ chữ  */
.body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* common */
a {
    text-decoration: none;
    color: black;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}



.btn {
    color: #FFF;
    padding: 0 41px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    min-width: 186px;
    line-height: 68px;
    border-radius: 14px;
    background: #1EBFC1;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
}

.btn:hover {
    opacity: 0.9;
}


/* header */
.header {
    background-color: #fff;
}

.header.fixed {
    position: sticky;
    top: -44px;
    z-index: 999;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 52px 0px 8px;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a {
    color: #2f3a3b;
    padding: 8px 19.5px;
}

.header .action-link {
    margin-left: 157.5px;
    color: #494949;
    text-align: center;
}

.header .action-btn {
    line-height: 46px;
    min-width: 108px;
    border: 1px solid #1EBFC1;
    padding: 12px 24px;
    color: #1EBFC1;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    margin-left: 24px;
}

.nav a:hover,
.header .action-link:hover {
    color: #2F3A3B;
    font-family: Poppins;
    font-weight: 500;
}

.header .action-btn:hover {
    background-color: #1EBFC1;
    color: white;
}

/* hero */
.hero {
    padding: 42px 0 79px;
}

.hero .body {
    display: flex;
}

.hero .content-block {
    width: 50%;
}

.content-block .top-title {
    color: #767E7E;
    font-size: 1.4rem;
    margin-top: 93px;
}

.content-block .title {
    color: #0D1111;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.16;
    margin-top: 16px;
    max-width: 458px;
}

.content-block .desc {
    color: #9DA6A5;
    font-size: 1.8rem;
    line-height: 1.77;
    margin-top: 46px;
    width: 374px;
}

.desc-span {
    display: inline-block;
}

.hero .cta-group {
    margin-top: 52px;
    display: flex;
    align-items: center;
}

.cta-group .play-video {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    box-shadow: 0px 22px 50px 0px rgba(0, 0, 0, 0.05);
}

.hero .content-block .play-video:hover {
    background: #eee;
    box-shadow: 0px 0px 0px 0px rgba(200, 177, 192, 0.649);
    cursor: pointer;
}

/* hero right */
.hero .media-block {
    width: 50%;
    position: relative;
}

.hero .media-block img {
    width: 576px;
    height: 631px;
    object-fit: cover;
}

.hero .media-course {
    width: 157px;
    height: 75px;
    flex-shrink: 0;
    border-radius: 18px;
    background: #FEFEFD;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 149px;
    left: -44px;
    gap: 16px;
}

.hero .media-course .course-icon {
    width: 36px;
    height: 40px;
}

.hero .media-course::after {
    position: absolute;
    top: 45px;
    left: 29px;
    content: "";
    display: inline-block;
    width: 28px;
    height: 4px;
    background: #fff;
    border-radius: 999px;
}

.hero .media-course .detail {
    width: 55px;
    color: #0d1111;
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 500;
    line-height: normal;
}

.hero .media-schedules {
    width: 124px;
    height: 132px;
    border-radius: 24px;
    background: #FFF;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
    position: absolute;
    bottom: 46px;
    left: -60px;
}

.hero .media-schedules span {
    display: inline-block;
    margin: 16px 36px 0px;
    color: #0D1111;
    font-size: 1rem;
    font-weight: 500;
}

.hero .media-block .schedules-icon {
    width: 74px;
    height: 6px;
    display: block;
    margin: 16px 25px 5px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.hero .media-schedules .icon-2 {
    margin-top: 12px;
}

.hero .media-schedules .icon-3 {
    margin-top: 10px;
}

.hero .media-schedules .icon-4 {
    margin: 16px 49px 23px;
    width: 26px;
    height: 6px;
}


/* avatar block */
.hero .media-block .avatar-block {
    width: 207px;
    height: 90px;
    border-radius: 24px;
    background: #FEFEFD;
    box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
    position: absolute;
    bottom: 41px;
    right: 45px;
}

.hero .avar-more span {
    color: #0D1111;
    font-size: 1rem;
    font-weight: 500;
}

.hero .ava-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
}

.hero .ava-list .ava {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    margin-left: -7px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.hero .ava-list .ava:first-child {
    margin-left: 0;
}


.hero .avatar-block .detail {
    display: inline-block;
    margin: 17px 35px 0px;
    color: #0D1111;
    font-size: 1rem;
    font-weight: 500;
}

.hero .avatar-block .avar-more {
    background: #1EBFC1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* features */
.feature {
    margin-top: 70px;
}

.feature .body-feature {
    width: 1024px;
    height: 559px;
    padding: 60px 0px;
    font-family: Poppins;

}

.body-feature .top-title.top-title-lv2 {
    color: #767E7E;
    font-size: 1.2rem;
    font-weight: 700;
}

.body-feature .heading-lv2 {
    color: #0D1111;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1.33;
    margin-top: 18px;
}

.body-feature .desc {
    width: 590px;
    color: #767E7E;
    font-size: 1.8rem;
    margin-top: 18px;
}

.feature-list {
    display: flex;
    margin-top: 80px;
    gap: 209px;
}

.feature-list .item-title {
    color: #0D1111;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 26px;
}

.feature-list .item-desc {
    color: #9DA6A5;
    font-size: 1.6rem;
    line-height: 1.68;
    margin-top: 16px;
    width: 224px;
}

/* course */
.course {
    margin-top: 130px;
}

.body .top-title.top-title-lv2 {
    color: #767E7E;
    font-size: 1.2rem;
    font-weight: 700;
}

.body .heading-lv2 {
    color: #0D1111;
    font-family: Poppins;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 18px;
}

.row-top {
    margin-top: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row-top a {
    text-decoration: underline;
    color: #1EBFC1;
}

.course .desc {
    color: #767E7E;
    font-size: 1.8rem;
    line-height: 1.77;
}

.course .course-list {
    display: flex;
    margin-top: 79px;
    gap: 47px;
}

.course-item {
    width: 359px;
    height: 393px;
    border-radius: 8px;
    background: #D0EFED;
    opacity: 0.8;
    position: relative;
}


.course-item .wrap-item {
    width: 325px;
    height: 195px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.164);
    position: absolute;
    top: 322px;
    left: 17px;
    right: 17px;

}

.wrap-item .heading-lv3 {
    color: #0D1111;
    font-size: 2.2rem;
    font-weight: 700;
    margin: 18px 25px 16px;
}

.wrap-item .cost {
    color: #767E7E;
    font-size: 1.6rem;
    margin-left: 25px;
}

.cost span {
    color: #0D1111;
    font-size: 2.2rem;
    font-weight: 700;
}

.wrap-item .desc {
    color: #9DA6A5;
    font-size: 1.4rem;
    margin-left: 25px;
    margin-top: 6px
}

.wrap-item .static {
    display: flex;
    margin-top: 18px;
    color: #9DA6A5;
    font-size: 1.4rem;
    margin-left: 25px;

}

.wrap-item .static span {
    display: flex;
    font-size: 1.4rem;
    align-items: center;
}

.wrap-item .static span+span {
    margin-left: 10px;
}


.wrap-item .static span::before {
    display: inline-block;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #9DA6A5;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 10px;

}

/* countdown */
.countdown {
    display: flex;
    width: 862px;
    height: 131px;
    margin-top: 265px;
}

.countdown .body {
    margin-left: auto;
    margin-right: auto;
    max-width: 862px;
}

.countdown-list {
    display: flex;
    width: 862px;
    justify-content: space-between;
    margin-left: 289px;
}


.countdown-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.countdown-item .static {
    color: #0D1111;
    text-align: center;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 93px;
}

.countdown-item .desc {
    color: #767E7E;
    font-size: 1.8rem;
    margin-top: 11px;
    line-height: 28px;
}


/* feedback */
.feedback .body {
    margin-top: 170px;
    display: flex;
}

.block-content {
    width: 40%;
}

.block-content .block-quote {
    width: 36px;
    height: 29px;
    margin-top: 37px;
}

.block-content .comment {
    line-height: 1.5;
    color: #5D6564;
    font-size: 3.2rem;
    line-height: 48px;

}

.block-content .desc strong {
    color: #070707;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-right: 1px;
}

.block-content .desc {
    color: #767E7E;
    font-weight: 400;
    display: flex;
    align-items: center;
    line-height: 24px;
    margin-top: 33px;
    gap: 2px;
}

.block-content .desc::before {
    content: "";
    width: 8px;
    height: 2px;
    background: #070707;
    flex-shrink: 0;
}

.feedback-cta {
    margin-top: 52px;
    display: flex;
    gap: 30px;
}

.cta-btn-group {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #2AC9BF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cta-btn-group .icon {
    width: 6px;
    height: 12px;
    flex-shrink: 0;
}


/* block media */
.block-media {
    width: 60%;
    position: relative;
}

.ava-fb {
    width: 235px;
    height: 235px;
    flex-shrink: 0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.avar-fb-1 {
    width: 92px;
    height: 92px;
    flex-shrink: 0;
    position: absolute;
    top: 0;
    left: 128px;
}

.avar-fb-2 {
    width: 110px;
    height: 110px;
    flex-shrink: 0;
    position: absolute;
    top: 0;
    right: 120px;
}

.avar-fb-3 {
    width: 235px;
    height: 235px;
    flex-shrink: 0;
    position: absolute;
    top: 120px;
    left: 200px;
}

.avar-fb-4,
.avar-fb-5,
.avar-fb-6 {
    width: 78px;
    height: 78px;
    flex-shrink: 0;
}

.avar-fb-4 {
    position: absolute;
    top: 310px;
    left: 0;
}

.avar-fb-5 {
    position: absolute;
    left: 140px;
    bottom: -40px;
}

.avar-fb-6 {
    position: absolute;
    right: 30px;
    bottom: 20px;
}

/* admit */

.admit {
    margin-top: 130px;
    background: #def6f5;
    padding: 76px 135px 88px;
}

.admit .body {
    display: flex;
    align-items: center;
}


.admit .admit-left {
    margin: 76px 410px 88px 135px;
}

.admit-left .heading-lv2 {
    color: #070707;
    font-size: 4.2rem;
    font-weight: 700;
}

.admit-left .desc {
    margin-top: 18px;
    color: #767E7E;
    font-size: 1.8rem;
    /* margin-right: 450px; */
}

/* footer */

.footer {
    background: #FFF;
}

.footer a {
    text-decoration: none;
}

.row-top {
    display: flex;
    align-items: flex-start;
}

.row-top {
    margin-top: 131px;
    display: flex;
    justify-content: space-between;
}

.row-top h3.title {
    color: #2E2E2E;
    font-size: 1.8rem;
    font-weight: 500;
}

.list li {
    margin-top: 25px;
    color: #535353;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.list.list-item5 a {
    display: flex;
    align-items: center;
    gap: 13px;
}

.cpr-block {
    margin-top: 80px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyright {
    color: #B0B5B4;
    font-size: 1.8rem;
}